.packages-list {
    border-top-color: #666666;
    background-color: #d5d5d5;
}

.list-foldout-item {
    background-color: #cacaca;
    border-color: black;
}

.toggle-toolbar {
    border-color: rgba(126, 126, 126, 0.26);
}