.list-foldout-item {
    font-size: 12px;
    border-bottom-width: 1px;
    height: 24px;
}

.packages-list {
    flex-grow: 1;
    min-width: 100px;
    border-top-width: 1px;
}

.toggle-toolbar{
    border-top-width: 1px;
}