.top-tool-bar, .package-details-container {
    border-color: #8e8e8e;
}

.package-details-container {
    background-color: #383838;
}

.multiple-selection{
    border-color: #3562a1;
}

.packages-list-container {
    background-color: #424242;
}