.top-tool-bar, .package-details-container {
    border-color: #5c5c5c;
}

.package-details-container {
    background-color: #c1c1c1;
}

.multiple-selection{
    border-color: #3562a1;
}

.packages-list-container {
    background-color: #d5d5d5;
}