.package-details-container {
    border-left-width: 1px;
}

.list-foldout-item {
    margin-bottom: 2px;
    font-size: 16px;
    border-bottom-width: 1px;
    height: 26px;
}

.item-border {
    padding-left: 6px;
    font-size: 14px;
}

.packages-list-container {
    padding-top: 2px;
}

.packages-list {
    flex-grow: 1;
    min-width: 100px;
    border-top-width: 1px;
}