.list-mich{
    height: 100px;
    max-height: 200px;
    border-bottom-width: 1px;
}

.mich-container{
    border-width: 1px;
    margin-right: 4px;
}

.action-button{
    -unity-font-style: bold;
}

.list-mich-header{
    padding-left: 10px;
    border-width: 1px;
}